html {
    /* body won't work ¯\_(ツ)_/¯ https://css-tricks.com/practical-css-scroll-snapping/ */
    scroll-snap-type: y mandatory;
}

/* carousel */
.carousel {
    height: 100vh;
    position: fixed !important;
    top: 0;
    z-index: -1;
    width: 100vw;
}

.carousel-inner {
    width: 100%;

}

.carousel-img {
    min-height: 100vh;
    width: 100vw;
    object-fit: cover;
    margin-left: calc(-1*((100% - 100vw)/2));
}

#carouselExampleIndicators button {
    visibility: hidden !important;
}

.scroll-down,
.scroll-down:hover {
    position: absolute;
    bottom: 8vh;
    margin-right: auto;
    margin-left: calc(50% - 12.5px);
    color: rgb(238, 237, 237);
    animation: down 2s infinite;
    -webkit-animation: down-mobile 2s infinite;
}

@keyframes down-mobile {
    0% {bottom: 8vh}
    75% {bottom: 8vh}
    100% {bottom: 7vh}
}
.show-mobile{
    display: inline;
}
.show-desktop{
    display: none ;
}

@media screen and (min-width: 768px) {
    .scroll-down, .scroll-down:hover{
        position: absolute;
        bottom: 4vh;
        margin-right: auto;
        margin-left: calc(50% - 12.5px);
        color: rgb(238, 237, 237);
        animation: down 2s infinite;
        -webkit-animation: down 2s infinite;
    }
    @keyframes down {
        0% {bottom: 4vh}
        75% {bottom: 4vh}
        100% {bottom: 3vh}
    }
    .show-mobile{
        display: none;
        width: 0;
    }
    .show-desktop{
        display: inline;
    }
}

/* slides */
.slider {
    height: 100vh;
    position: relative;
    z-index: 1000;
    position: relative;
    scroll-snap-align: start;
}

.overlay {
    background-color: rgba(128, 128, 128, 0.26);
    color: rgb(241, 241, 241);
}

.info {
    background-color: white;
    color: rgb(70, 70, 70)
}

/* overlay */
/* mobile */
.title {
    width: 90vw;
    padding-top: 8vh;
}

.std {
    font-size: large;
    position: absolute;
    bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.std-separator::before{
    content: "\a";
    white-space: pre;
}

@media screen and (min-width: 768px) {
    .title {
        padding-top: 8vh;
        width: 55vw;
    }

    .std {
        font-size: medium;
        position: absolute;
        bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    .std-separator{
        display: inline;
    }
    .std-separator::before{
        content: "|";
    }
}




p {
    font-family: monospace;
    letter-spacing: 6px;
}

.info p {
    position: absolute;
    bottom: 60%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}