.carousel-img {
    height: 100vh;
    min-width: 100vw;
    object-fit: cover;
}
html { /* body won't work ¯\_(ツ)_/¯ https://css-tricks.com/practical-css-scroll-snapping/ */
    scroll-snap-type: y mandatory;
  }
.carousel{
    height: 100vh;
    position: fixed !important;
    top:0;
    z-index: -1;
    width: 100vw;
}

.slider{
    height: 100vh;
    position: relative;
    z-index: 1000;
    position:relative;
    scroll-snap-align: start;
    
}
.overlay{
    background-color: rgba(128, 128, 128, 0.26);
    color: rgb(241, 241, 241);
}
.info{
    background-color: white;
    color:rgb(70, 70, 70)
}
.title{
    padding-top: 8vh;
    width: 55vw;
}
.overlay p{
    padding-top: 55vh;
}
p{
    font-family: monospace;
    letter-spacing: 6px;
}
.info p{
    padding-top: 30vw;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}